div(layout='row')
  div(flex)
    md-toolbar.md-hue-3(layout='row' layout-align='center')
      div.md-toolbar-tools
        span Shortened URLS
    md-content
      md-list.md-dense(flex)
        md-list-item(ng-repeat='link in links' ng-click='null')
          div.md-list-item-text.secondary-button-padding(layout='column')
            h3 {{link.display}}
            p {{link.url}}
            md-button.md-secondary(ng-click='showLinkInfo(link.id)') Show Info
  div(flex)
    md-content(md-theme='docs-dark' layout-padding layout-align='center')
      form(name='forms.shortenedUrlForm' novalidate)
        div(layout='row' layout-align='center' flex)
          md-input-container.md-block
            label Enter URL to Shorten
            input(ng-model='shortenedUrl.url')
        div(layout='row' layout-align='center' flex)
          md-button.md-raised.md-primary(ng-click='create()') Shorten It!
        div(layout='row' layout-align='center' flex)
          md-content.md-padding
            div(flex)
              md-card
                md-card-content(ng-show='shortenedUrlResult.display')
                  a(href='#' ng-click='openLink(shortenedUrlResult.id, shortenedUrlResult.url)') {{shortenedUrlResult.display}}
    md-content(md-theme='docs-dark' layout-padding layout-align='center')
      div(layout='row' layout-align='center' flex)
          md-content.md-padding
            div(flex)
              md-card(ng-show='linkInfo.display')
                md-card-title
                  md-card-title-text
                    span.md-headline {{linkInfo.display}}
                    span.md-subhead {{linkInfo.url}}
                md-card-content
                  md-list.md-dense(flex)
                    md-list-item
                      div.md-list-item-text.secondary-button-padding(layout='column')
                        p Total Visits
                        p.md-secondary {{linkInfo.total_visits}}

                  md-list.md-dense(flex)
                    md-list-item(ng-repeat='visit in linkInfo.visits' ng-click='null')
                      div.md-list-item-text.secondary-button-padding(layout='column')
                        p IP Address
                        p.md-secondary {{visit.ip_address}}


    